@font-face {
  font-family: "Futura Condensed Bold";
  src: url("Futura Condensed Bold.woff2");
}
@font-face {
  font-family: "Futura Light Regular";
  src: url("Futura Light Regular.woff2");
}
@font-face {
  font-family: "Kiona Regular";
  src: url("Kiona-Regular.woff2");
}